Flask
SQLAlchemy
SQLAlchemy-Utc
flask_sqlalchemy
flask_migrate
flasgger
pytest
pytest-mock
python-dotenv
python-telegram-bot
watchdog
openai
./opt/fsrs_rs_python-0.8.2-cp313-cp313-manylinux_2_38_x86_64.whl
