Flask[async]
SQLAlchemy
SQLAlchemy-Utc
flask_sqlalchemy
flask_migrate
flasgger
pytest
pytest-mock
pytest-asyncio
python-dotenv
python-telegram-bot[webhooks]
watchdog
openai
fsrs-rs-python
requests
BeautifulSoup4
vertexai
pillow
polib
babel
emoji-country-flag
lingua-language-detector
pandas
polars
duckdb
transliterate
pymorphy3
openpyxl
