Flask
SQLAlchemy
SQLAlchemy-Utc
flask_sqlalchemy
flask_migrate
flasgger
pytest
pytest-mock
pytest-asyncio
python-dotenv
python-telegram-bot
watchdog
openai
fsrs-rs-python @ git+https://github.com/open-spaced-repetition/fsrs-rs-python.git
requests
BeautifulSoup4
pandas
vertexai
pillow
pymorphy3
transliterate
